@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');


:root {
    /* ## Colors */
    
    /* ### Primary */
    
    --clr-Bright-orange: hsl(31, 77%, 52%);
    --clr-Dark-cyan: hsl(184, 100%, 22%);
    --clr-Very-dark-cyan: hsl(179, 100%, 13%);
    
    /* ### Neutral */

    /* paragraphs */
    --clr-Transparent-white: hsla(0, 0%, 100%, 0.75);
    /* background, headings, buttons */
    --clr-Very-light-gray: hsl(0, 0%, 95%);
    

    /* ## Typography */
    
    --fs: 15px;

    --ff-lexend: 'Lexend Deca', sans-serif;
    --fw-medium: 400;
    
    --ff-big-shoulders: 'Big Shoulders Display', sans-serif;
    --fw-bold: 700;

}

/* RESET DEFAULTS */

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


body {
    background-color: var(--clr-Very-light-gray);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
}


/* wrapper */
.wrapper {
    width: 1100px;
    display: flex;
    border-radius: 16px;
    overflow: hidden;
}

/* card */

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--clr-Bright-orange);
    padding: 56px 67px;
    border: none;
    outline: none;
}
.card-1 {
    flex-basis: 100%;
}
.card-2 {
    background-color: var(--clr-Dark-cyan);
    flex-basis: 100%;
}
.card-3 {
    background-color: var(--clr-Very-dark-cyan);
    flex-basis: 100%;
}

.card img {
    /* width: 80px; */
    margin-bottom: 36px;
}

.card-title {
    font-family: var(--ff-big-shoulders);
    font-size: 48px;
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    color: var(--clr-Very-light-gray);
    margin-bottom: 28px;
}

.card-subtitle {
    font-family: var(--ff-lexend);
    font-size: 16px;
    font-weight: var(--fw-medium);
    line-height: 32px;
    color: var(--clr-Transparent-white);
    margin-bottom: 80px;
}

.btn {
    text-decoration: none;
    background-color: var(--clr-Very-light-gray);
    font-family: var(--ff-lexend);
    font-size: 16px;
    font-weight: var(--fw-medium);
    color: var(--clr-Bright-orange);
    padding: 18px 40px;
    border-radius: 40px;
}

.card .btn:hover {
    background-color: transparent;
    outline: 3px var(--clr-Very-light-gray) solid;
    color: var(--clr-Very-light-gray);
    transition: background-color 0.1s ease-in;
}

.card-2 .btn {
    color: var(--clr-Dark-cyan);
}
.card-3 .btn {
    color: var(--clr-Very-dark-cyan);
}


/* media query */

@media (max-width: 968px) {
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        border-radius: 8px;
    }

    .card {
        padding: 50px 44px;
    }

    .card img {
        /* width: 60px; */
        margin-bottom: 36px;
    }

    .card-title {
        font-size: 52px;
        margin-bottom: 32px;
    }
    
    .card-subtitle {
        font-size: var(--fs);
        line-height: 28px;
        margin-bottom: 32px;
    }

    .btn {
        font-size: var(--fs);
        padding: 16px 36px;
        border-radius: 40px;
    }
}























